*{
    box-sizing: border-box;   
}
body{
    text-transform: capitalize;
    font-family: system-ui;
    background-color: #222;
    color: #eee;
}

html{
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
}
input{
    border-radius: 5px;
    background-color: #111;
    caret-color: #9b9999;
    outline: none;
    width: 100%; 
    height: 30px;
    border: none;
    margin: 4px 0;
    padding: 4px;
    color: #eee;
}
input:focus{
   background-color: #000; 
   transform: scale(1.1);
}

/* .inputs .price input{
    width: 20%;
} */
.inputs .price{
    display: flex;
    gap: 6px;
}
.inputs .price .total{
    background-color: rgb(118, 4, 4);
    padding: 5px 8px;
    border-radius: 5px;
}
.inputs .price .total::before{
    content: 'Total : ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(24, 106, 24);
    border-radius: 20px;
    color: #eee;
    font-size: 16px;
    transition: 0.3s;
    margin: 4px 0;

}
button:hover{
    background-color: rgb(12, 45, 12);
    letter-spacing: 4px;
}
.searchBtn{
    display: flex;
    gap: 10px;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
    padding: 5px 0;
}
table tr{
    position: relative;
}
table button:hover{
    letter-spacing: 0;
}
table tr::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eee;
}
